Repository Debate-Season/DebateSeason_Frontend_V1, pull requests merged in 2024-12, with the labels that each got.

#22 init : 기초세팅 - 패키지, gitignore
  .gitignore
  lib/main.dart
  lib/utils/logger.dart
  pubspec.lock
  pubspec.yaml
Labels: init, minwoo

#24 feat : 채팅api 명세서 반영 및 레파지토리 정리
  lib/core/stomp/stomp_service.dart
  lib/data/models/message_model.dart
  lib/features/chat/view/chat_topic_detail_screen.dart
  lib/features/chat/view/home_screen.dart
  lib/features/chat/view_model/chat_room_view_model.dart
Labels: feat, anji

#26 init : 프로젝트 구조 변경 및 시스템가이드 추가
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  lib/core/constants/app_constants.dart
  lib/core/constants/app_theme.dart
  lib/core/constants/color.dart
  lib/core/constants/text_style.dart
  lib/core/interceptor/interceptor.dart
  lib/core/routers/get_router.dart
  lib/core/routers/get_router_name.dart
  lib/core/web_socket/stomp_service.dart
  lib/features/auth/data/datasources/local/ex.dart
  lib/features/auth/data/datasources/remote/ex.dart
  lib/features/auth/data/models/local/ex.dart
  lib/features/auth/data/models/remote/ex.dart
  lib/features/auth/data/repositories_impls/local/ex.dart
  lib/features/auth/data/repositories_impls/remote/auth_repository.dart
  lib/features/auth/data/repositories_impls/remote/auth_repository_web.dart
  lib/features/auth/domain/entities/ex.dart
  lib/features/auth/domain/repositories/local/ex.dart
  lib/features/auth/domain/repositories/remote/ex.dart
  lib/features/auth/presentation/bindings/ex.dart
  lib/features/auth/presentation/types/ex.dart
  lib/features/auth/presentation/view_models/auth_view_model.dart
  lib/features/auth/presentation/views/login_screen.dart
  lib/features/chat/data/datasources/chat_room_api_service.dart
  lib/features/chat/presentation/view/chat_room_screen.dart
  lib/main.dart
  lib/widgets/ex.dart
  pubspec.lock
  pubspec.yaml
  test/widget_test.dart
Labels: init, minwoo

#30 feat : kakao login
  .github/pull_request_template.md
  .gitignore
  android/settings.gradle
  assets/icons/ic_apple_login.svg
  assets/icons/ic_kakao_login.svg
  lib/core/constants/color.dart
  lib/core/constants/dimensions.dart
  lib/core/constants/gaps.dart
  lib/core/constants/text_style.dart
  lib/core/routers/get_router.dart
  lib/core/routers/get_router_name.dart
  lib/features/auth/presentation/bindings/auth_binding.dart
  lib/features/auth/presentation/bindings/ex.dart
  lib/features/auth/presentation/view_models/auth_view_model.dart
  lib/features/auth/presentation/views/auth_screen.dart
  lib/features/auth/presentation/views/login_screen.dart
  lib/main.dart
  lib/utils/logger.dart
  lib/widgets/debate_scaffold.dart
  pubspec.lock
  pubspec.yaml
Labels: feat, minwoo

#33 feat : apple login
  .fvmrc
  .gitignore
  android/build.gradle
  assets/images/ex.dart
  ios/Flutter/Debug.xcconfig
  ios/Flutter/Release.xcconfig
  ios/Podfile
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcworkspace/contents.xcworkspacedata
  ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/Runner/.plist
  ios/Runner/Base.lproj/Main.storyboard
  ios/Runner/Runner.entitlements
  lib/features/auth/presentation/view_models/auth_view_model.dart
  lib/features/auth/presentation/views/auth_screen.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: feat, -minwoo

#35 feat : chat-room
  assets/icons/ic_add.svg
  assets/icons/ic_add_grey30.svg
  assets/icons/ic_arrow_upward.svg
  assets/icons/ic_more_grey10.svg
  assets/icons/ic_send_grey10.svg
  assets/icons/settings.svg
  ios/Podfile.lock
  lib/core/constants/dimensions.dart
  lib/core/routers/get_router.dart
  lib/core/web_socket/stomp_service.dart
  lib/features/chat/data/models/request/message_request.dart
  lib/features/chat/data/models/response/message_model.dart
  lib/features/chat/data/models/response/message_response.dart
  lib/features/chat/presentation/bindings/chat_binding.dart
  lib/features/chat/presentation/view/chat_room_screen.dart
  lib/features/chat/presentation/view/chat_topic_detail_screen.dart
  lib/features/chat/presentation/view/home_screen.dart
  lib/features/chat/presentation/view/message_bubble.dart
  lib/features/chat/presentation/view_model/chat_room_view_model.dart
  lib/features/chat/presentation/widgets/chat_input_field.dart
  lib/features/chat/presentation/widgets/chat_message_list.dart
  lib/features/chat/presentation/widgets/chat_room_app_bar.dart
  lib/features/chat/presentation/widgets/message_bubble.dart
Labels: feat, anji

#39 feat : profile UI
  android/app/build.gradle
  android/build.gradle
  assets/icons/ic_sign_out_grey50.svg
  lib/core/constants/dimensions.dart
  lib/core/routers/get_router.dart
  lib/core/routers/get_router_name.dart
  lib/features/auth/presentation/views/auth_profile_page.dart
  lib/features/auth/presentation/views/auth_screen.dart
  lib/features/profile/presentation/bindings/profile_binding.dart
  lib/features/profile/presentation/view_models/profile_view_model.dart
  lib/features/profile/presentation/views/profile_screen.dart
  lib/widgets/de_button.dart
  lib/widgets/de_button_large.dart
  lib/widgets/de_button_small.dart
  lib/widgets/de_dialog.dart
  pubspec.lock
  pubspec.yaml
Labels: feat, -minwoo

#43 42 feat 스플래시 스크린 UI
  android/app/build.gradle
  android/app/src/main/res/drawable-v21/launch_background.xml
  android/app/src/main/res/drawable/launch_background.xml
  android/app/src/main/res/values-night/styles.xml
  android/app/src/main/res/values/styles.xml
  android/build.gradle
  assets/images/splash_logo.gif
  flutter_native_splash.yaml
  ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  ios/Runner/Base.lproj/LaunchScreen.storyboard
  ios/Runner/Info.plist
  lib/core/routers/get_router.dart
  lib/core/routers/get_router_name.dart
  lib/features/splash/splash_screen.dart
  lib/main.dart
  pubspec.lock
  web/index.html
Labels: feat, anji
