Repository Debate-Season/DebateSeason_Frontend_V1, pull requests merged in 2025-05, with the labels that each got.

#131 feat : profile 입력/수정, 이미지 등록
  lib/core/constants/de_colors.dart
  lib/core/routers/get_router.dart
  lib/core/routers/get_router_name.dart
  lib/features/profile/bindings/profile_image_binding.dart
  lib/features/profile/domain/type/district_type.dart
  lib/features/profile/domain/type/image_type.dart
  lib/features/profile/domain/type/province_type.dart
  lib/features/profile/presentation/view_models/profile_image_view_model.dart
  lib/features/profile/presentation/view_models/profile_input_view_model.dart
  lib/features/profile/presentation/views/profile_image_screen.dart
  lib/features/profile/presentation/views/profile_input_screen.dart
  lib/features/profile/presentation/views/profile_screen.dart
  lib/features/profile/presentation/views/profile_withdraw_screen.dart
  lib/features/profile/presentation/views/terms_screen.dart
  lib/features/profile/presentation/widgets/profile_age_bottom_sheet.dart
  lib/features/profile/presentation/widgets/profile_community_bottom_sheet.dart
  lib/features/profile/presentation/widgets/profile_location_bottom_sheet.dart
  lib/features/profile/profile_constants.dart
  lib/features/splash/presentation/splash_view_model.dart
Labels: Feat, 프로필

#136 Feat: 채팅 신고 기능 추가
  lib/core/routers/get_router.dart
  lib/core/routers/get_router_name.dart
  lib/features/chat/bindings/chat_binding.dart
  lib/features/chat/data/data_sources/chat_rooms_messages_data_source.dart
  lib/features/chat/data/data_sources/chat_rooms_messages_data_source.g.dart
  lib/features/chat/data/models/report_reason_req.dart
  lib/features/chat/data/repository_impls/chat_rooms_messages_repository_impl.dart
  lib/features/chat/presentation/models/report_reason_selection.dart
  lib/features/chat/presentation/models/report_reason_selection.freezed.dart
  lib/features/chat/presentation/view_models/chat_room_view_model.dart
  lib/features/chat/presentation/view_models/inappropriate_chat_report_view_model.dart
  lib/features/chat/presentation/views/chat_room_screen.dart
  lib/features/chat/presentation/views/inappropriate_chat_report_screen.dart
  lib/features/chat/presentation/widgets/chat_message.dart
  lib/features/chat/presentation/widgets/reaction_picker.dart
  lib/widgets/de_text_field.dart
Labels: Feat, 채팅

#137 mod: 정식출시 전 앱 고도화(디자인, 이용약관)
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/main/AndroidManifest.xml
  lib/features/issuemap/presentation/views/issuemap_screen.dart
  lib/features/profile/profile_constants.dart
Labels: Mod, 공통

#141 fix : 추가된 주소 입력 UI 주석 처리
  lib/features/profile/presentation/views/profile_input_screen.dart
Labels: Fix, 프로필
