Repository Debate-Season/DebateSeason_Frontend_V1, pull requests merged in 2025-03, with the labels that each got.

#100 fix : 로그인 실패 시 메시지 오류
  lib/features/auth/auth_constants.dart
  lib/features/auth/presentation/views/auth_screen.dart
Labels: Fix

#105 Refactor/80 clean architecture
  lib/features/issue/bindings/issue_binding.dart
  lib/features/issue/data/datasources/issue_data_source.dart
  lib/features/issue/data/datasources/issue_data_source.g.dart
  lib/features/issue/data/datasources/local/ex.dart
  lib/features/issue/data/models/local/ex.dart
  lib/features/issue/data/models/response/chat_room_res.dart
  lib/features/issue/data/models/response/chat_room_res.g.dart
  lib/features/issue/data/models/response/issue_res.dart
  lib/features/issue/data/models/response/issue_res.g.dart
  lib/features/issue/data/repositories_impls/issue_repository_impl.dart
  lib/features/issue/data/repositories_impls/local/ex.dart
  lib/features/issue/data/repositories_impls/remote/ex.dart
  lib/features/issue/domain/entities/chat_room_entity.dart
  lib/features/issue/domain/entities/ex.dart
  lib/features/issue/domain/entities/issue_entity.dart
  lib/features/issue/domain/entities/issue_entity.freezed.dart
  lib/features/issue/domain/repositories/issue_repository.dart
  lib/features/issue/domain/repositories/local/ex.dart
  lib/features/issue/domain/repositories/remote/ex.dart
  lib/features/issue/presentation/view_models/issue_ratio_view_model.dart
  lib/features/issue/presentation/view_models/issue_room_view_model.dart
  lib/features/issue/presentation/views/issue_room_screen.dart
  lib/features/issue/presentation/widgets/issue_card.dart
Labels: Refactor, 이슈

#108 refactor : 폰트, 컬러 수정
  lib/core/constants/de_colors.dart
  lib/core/constants/de_fonts.dart
  lib/features/chat/presentation/views/debate_room_screen.dart
  lib/features/chat/presentation/widgets/change_popup.dart
  lib/features/chat/presentation/widgets/chat_input_field.dart
  lib/features/chat/presentation/widgets/chat_message.dart
  lib/features/issue/presentation/views/issue_room_screen.dart
  lib/features/issue/presentation/widgets/issue_card.dart
  lib/features/issuemap/presentation/views/issuemap_screen.dart
  lib/features/main/main_screen.dart
  lib/features/profile/presentation/views/profile_input_page.dart
  lib/features/profile/presentation/views/profile_screen.dart
  lib/features/profile/presentation/views/profile_withdraw_page.dart
  lib/features/profile/presentation/widgets/profile_community_card.dart
  lib/features/profile/presentation/widgets/profile_gender_card.dart
  lib/features/profile/presentation/widgets/profile_text_card.dart
  lib/main.dart
  lib/utils/de_snack_bar.dart
  lib/utils/de_toast.dart
  lib/widgets/de_app_bar.dart
  lib/widgets/de_bottom_sheet.dart
  lib/widgets/de_button_large.dart
  lib/widgets/de_dialog.dart
  lib/widgets/de_progress_indicator.dart
  lib/widgets/de_scaffold.dart
  lib/widgets/de_text_field.dart
Labels: Refactor, 공통

#110 feat : 이슈방 UI
  assets/icons/ic_assistant_grey50.svg
  assets/icons/ic_bookmark_grey50.svg
  lib/common/enums/opinion_type.dart
  lib/core/constants/de_gaps.dart
  lib/core/constants/de_icons.dart
  lib/features/chat/presentation/view_models/chat_room_view_model.dart
  lib/features/chat/presentation/view_models/debate_room_view_model.dart
  lib/features/chat/presentation/views/debate_room_screen.dart
  lib/features/issue/data/models/response/chat_room_res.dart
  lib/features/issue/domain/entities/chat_room_entity.dart
  lib/features/issue/issue_constants.dart
  lib/features/issue/presentation/view_models/issue_ratio_view_model.dart
  lib/features/issue/presentation/views/issue_room_screen.dart
  lib/features/issue/presentation/widgets/issue_card.dart
  lib/widgets/de_vote_button.dart
Labels: Feat, 이슈

#116 feat : login OIDC
  lib/core/services/secure_storage_service.dart
  lib/features/auth/data/data_sources/users_login_data_source.dart
  lib/features/auth/data/data_sources/users_login_data_source.g.dart
  lib/features/auth/data/models/request/users_login_req.dart
  lib/features/auth/data/models/request/users_login_req.g.dart
  lib/features/auth/data/repository_impls/users_login_repository_impl.dart
  lib/features/auth/domain/entities/users_login_entity.dart
  lib/features/auth/domain/entities/users_login_entity.freezed.dart
  lib/features/auth/presentation/view_models/auth_view_model.dart
Labels: Feat, 로그인

#118 feat : 이용약관, 개인정보처리방침 추가
  ios/Podfile.lock
  lib/core/routers/get_router.dart
  lib/core/routers/get_router_name.dart
  lib/core/services/shared_preferences_service.dart
  lib/features/auth/data/models/response/users_login_res.dart
  lib/features/auth/data/models/response/users_login_res.g.dart
  lib/features/auth/data/repository_impls/users_login_repository_impl.dart
  lib/features/auth/domain/entities/users_login_entity.dart
  lib/features/auth/domain/entities/users_login_entity.freezed.dart
  lib/features/auth/domain/repositories/users_login_repository.dart
  lib/features/auth/presentation/view_models/auth_view_model.dart
  lib/features/auth/presentation/views/auth_screen.dart
  lib/features/profile/bindings/terms_binding.dart
  lib/features/profile/data/data_sources/terms_data_source.dart
  lib/features/profile/data/data_sources/terms_data_source.g.dart
  lib/features/profile/data/models/request/agreements_req.dart
  lib/features/profile/data/models/request/terms_agree_req.dart
  lib/features/profile/data/models/request/terms_agree_req.g.dart
  lib/features/profile/data/models/response/terms_res.dart
  lib/features/profile/data/models/response/terms_res.g.dart
  lib/features/profile/data/repository_impls/terms_repository_impl.dart
  lib/features/profile/domain/entities/terms_agree_entity.dart
  lib/features/profile/domain/entities/terms_agree_entity.freezed.dart
  lib/features/profile/domain/entities/terms_entity.dart
  lib/features/profile/domain/entities/terms_entity.freezed.dart
  lib/features/profile/domain/repositories/terms_repository.dart
  lib/features/profile/presentation/view_models/terms_view_model.dart
  lib/features/profile/presentation/views/profile_screen.dart
  lib/features/profile/presentation/views/terms_page.dart
  lib/features/profile/presentation/views/web_view_page.dart
  lib/features/profile/presentation/widgets/web_view.dart
  lib/features/profile/profile_constants.dart
  lib/features/splash/splash_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: Feat, 로그인, 프로필

#119 feat : 앱버전 비교 및 구현 기능 구현
  analysis_options.yaml
  lib/common/constants/error_constants.dart
  lib/core/routers/get_router.dart
  lib/features/auth/presentation/views/auth_screen.dart
  lib/features/issue/presentation/views/issue_room_screen.dart
  lib/features/profile/data/repository_impls/terms_repository_impl.dart
  lib/features/profile/presentation/view_models/profile_view_model.dart
  lib/features/profile/presentation/view_models/terms_view_model.dart
  lib/features/profile/presentation/views/profile_screen.dart
  lib/features/profile/presentation/views/profile_withdraw_page.dart
  lib/features/profile/presentation/views/terms_page.dart
  lib/features/splash/bindings/splash_binding.dart
  lib/features/splash/data/app_version_data_source.dart
  lib/features/splash/data/app_version_data_source.g.dart
  lib/features/splash/data/app_version_repository_impl.dart
  lib/features/splash/data/app_version_res.dart
  lib/features/splash/data/app_version_res.g.dart
  lib/features/splash/domain/app_version_entity.dart
  lib/features/splash/domain/app_version_entity.freezed.dart
  lib/features/splash/domain/app_version_repository.dart
  lib/features/splash/presentation/splash_screen.dart
  lib/features/splash/presentation/splash_view_model.dart
  lib/features/splash/splash_constants.dart
  lib/features/splash/splash_screen.dart
  lib/main.dart
  lib/widgets/de_dialog.dart
  pubspec.lock
  pubspec.yaml
Labels: Feat, 공통
